body{
    background-color: antiquewhite;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    font-size: 22px;
    border: solid 3px black;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}
.username{
    background-color: cornsilk;
}
.character{
    background-color: mistyrose;
}